@charset "UTF-8";
/*
header {
	border: solid 1px red;
	height: 8rem;
	text-align: center;
}

nav {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	border: solid 1px red;
	height: 3rem;
}
*/
/*주문배송조회 css*/
article {
	border: solid 1px red;
	text-align: right;
	background-color: rgb(44, 74, 58);
}

aside {
	display: inline-table;
	border: solid 1px red;
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	width: 15rem;
	padding-bottom: 100%;
}

h3, h5 {
	margin: 0;
	color: white;
}

h3 {
	font-size: 2rem;
}

.list {
	padding-bottom: 2rem;
}

ul {
	list-style: none;
	padding-left: 1rem;
}

a {
	text-decoration: none;
	color: rgb(44, 74, 58);
}

.second {
	font-size: 13px;
}

main {
	border: solid 1px red;
	margin-top: 2px;
	display: inline-table;
}




